# Virtual Environment
.venv/

# Python Cache
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/
notebooks/

# VSCode
.vscode/

# OS files
.DS_Store
Thumbs.db

# Raw datasets
data/raw/

# Processed datasets
data/processed/

# Metadata CSV
data/*.csv

# Model checkpoints
checkpoints/
*.pth

# Logs
*.log